<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net45" />
  <package id="TouchSocket" version="2.0.3" targetFramework="net45" />
  <package id="TouchSocket.Core" version="2.0.3" targetFramework="net45" />
</packages>